@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$max_width: 1600px;
$basefont: 'Lato', sans-serif;
$txt-black-color: #222222;
$txt-red-color: #f16d7f;

* {
    margin: 0;
    width: 0;
    box-sizing: border-box;
}

body {
    max-width: $max_width;
    font-family: $basefont;
}

header {
    display: flex;
    flex-direction: column;
}

#header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
    position: relative;
}

#header__logo {
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 227px;
    border: 1px solid #dba512;
    height: 51px;
    width: 170px;
}

#header__logo img {
    position: absolute;
    width: 59px;
    height: 51px;
}

#header__logo p {
    position: absolute;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $txt-black-color;
    left: calc(13px + 59px);
    top: 12px;
}

#header__logo span {
    font-weight: 900;
    color: $txt-red-color;
}

#navlayer {
    height: 51px;
    max-width: 100%;
}

#biglogo {
    height: 665px;
    background-color: #e8e8e8;
    max-width: 100%;
}